<!DOCTYPE html>
<html>
    <head>
        <title>Capstone Project</title>
        <link rel='stylesheet' href='/css/style.css' />
        
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.208.0.min.js"></script>
        <script src="http://wzrd.in/standalone/uuid%2Fv4@latest"></script>

        <script src='/js/amazon.js'></script>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
       
    </head>
    <body>
   
  
        <div class="homeContainer">
            <h1>Home</h1>
            <h3>Face Detection & Recognition</h3>
            <ul class="homeLists">
                <li>
                    <a href='/api/vision/detection' class="api_btn google_btn">Google</a>
                </li>
                <li>
                    <a href='/api/msFace/detection' class="api_btn microsoft_btn">Microsoft</a>
                </li>
                <li>
                    <a href='/api/rekognition/detection' class="api_btn amazon_btn">Amazon</a>
                </li>
                <li>
                    <a href='/api/faceplusplus/detection' class="api_btn facepp_btn">Face++</a>
                </li>
                <li>
                    <a href='/api/kairos/detection' class="api_btn kairos_btn">Kairos</a>
                </li>
            </ul> 
        </div>

        <footer>

        </footer>
    </body>
</html>