<!DOCTYPE html>
<html>
    <head>
        <title>Capstone</title>
        <link rel='stylesheet' href='/css/style.css' />
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src='/js/amazon.js'></script>
    </head>
    <body>
        <header class="headerContainer">
            <div class="homeText">
                    <h1 onclick="changeText(this)"><%= title %></h1>
            </div>
            <div class="toggleWrapper">
                <ul>
                <li class="detectionSide">
                    <a href="/api/kairos/detection" class="toggle_on_btn">Detection</a>
                </li>
                <li>
                    <a href="/api/kairos/recognition" class="toggle_off_btn">Recognition</a>
                </li>
                </ul>
            </div>
            <nav>
                <ul style="list-style-type:none">
                    <li>
                        <a href='/api/vision/detection'>Google</a>
                    </li>
                    <li>
                        <a href='/api/face'>Microsoft</a>
                    </li>
                    <li>
                        <a href='/api/rekognition/detection'>Amazon</a>
                    </li>
                    <li>
                        <a href='/api/facePlusPlus/detection'>Face++</a>
                    </li>
                    <li>
                        <a href='/api/kairos/detection'>Kairos</a>
                    </li>
                </ul>   
                    
            </nav>
        </header>
       
        <div class="kairosMainContainer">
            <div class="leftScreen">
                <div id="pictureScreenDetection" class="horizontalScrollWrapper">
                    
                    <div id="test" class="scrollInner">
                        <%- imageList %>
                    </div>
            
                </div>
            
                <div class="leftSideButton">
                    <form method="POST" action="/api/kairos/detection" enctype="multipart/form-data">
                        <ul class="button-list">
                            <li>
                                <label class="uploadButton">
                                    Upload Images
                                    <input type="file" id="files" name="images" value="hello" multiple onchange="readSourceImages(this)">
                                </label>
                            </li>   
                            <li>
                                <input type="submit" value="Run" class="detectButton">
                            </li>   
                        </ul>
                    </form>
                    
                </div>
            </div>

            <div class="rightScreen">
                <div class="resultScreenDetection" class="verticalScrollWrapper">
                    <div class="verticalScrollInner">
                        <div id="resultText">
                            <%- content %>
                        </div>
                    </div>
                </div>

                <div class="rightSideButton">
        
                    <input value="Create a text file" type="button" id="export" class="downloadButton" />
                    <a id="download" target="_blank">Download</a>

                </div>
            </div>
        </div>

        <footer>

        </footer>
    </body>
</html>