body{
	margin: 0;
	text-align: center;
	min-width:1000px;
	background-color: #e7e7e7; color: black;	
}
#header{
	text-align: left;
	height: 56px;
	margin-top: 0;
	background: #3366cc;
	margin-bottom: 10px;
}
#header h1{
	margin-left: 10%;
    font-style:italic;
	display: inline-block;
}
#header h2{
	display: inline-block;
}
#header #sideMenu{
	margin-top: 40px;
	margin-right: 100px;
	display: inline-block;
	float: right;
}
#header #sideMenu a{
	text-decoration: none;
	padding :5px;
	border-radius: 5px;
	margin-left: 10px;
	color:#4F4F4F;
	background: #E0E0E0;
}

#wrapper{
	display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 95%;
    background-color: #16A6B6;
}
.l-box{
    flex-direction: column;
    flex: 2;
    height: 100%;
}
.r-box{
    flex-direction: column;
    flex: 1;
	height: 100%;
	

	
}

.image{
    height: 88%;
  
    margin: 5px;
    background-color: #ffffff;
}



.log{

    height: 88%;
    
    margin: 5px;
    background-color: #ffffff;
    font-size: 14px;
}
#download{
	height:60px;
	width:40%;
	float: right;
}

#span{
	visibility: hidden;
}
#left-box{
	margin-left: 30px;
	margin-top: 30px;
	width:30%;
	border:2px solid grey;
	height:250px;
	background: #FFFFDF	;
}

#left{
	margin 0;
	display: inline-block;
	background: #d0d0d0;
	padding: 5px 0px 5px 0px;
	width: 40%;
	cursor: pointer;

}

#right{
	margin 0;
	display: inline-block;
	background: #FFFFDF;
	padding: 5px 0px 5px 0px;
	width: 58%;
	cursor: pointer;

}
#right:hover{
	background: #FFFFDF;
}
#left:hover{
	background: #FFFFDF;
}
.searchForm{
	margin-top:10px;
	margin-left: 10px;
	text-align: left;
}
.SearchSelect{
	background: lightblue;
	padding: 5px;
	border-radius: 5px;
	width:60%;
}
.SearchInput{
	background: lightblue;
	padding: 5px;
	border-radius: 5px;
}
.SearchBtn{
	width: 60%;
	background: #0080FF;
	padding: 5px;
	border-radius: 5px; 

}
#footer{
	text-align: center;
	height: 100px;
	width: 100%;
	line-height: 100px;
	margin-top: 10px;
	background: #3399CC;
	clear: both;

}


#signupcontent{
	margin-top: 20px;
	margin-left: 25%;
	width:800px;
	min-height: 600px;
	text-align: center;	
}
.inputRow{
	margin-top: 50px;
	height:40px;
}
.inputRow label{
	float:left;
	text-align: left;
	width:25%;
	font-size: 25px;
}

.inputRow input{
	float:left;
	width:40%;
	height: 20px;
}
.inputRow span{
	display: none;
	margin-left: 10px;
	border-radius: 20px;
	text-align: left;
	float:left;
	width:30%;
	height: 90px;
	background-color: lightblue;
}
.error{
	float: left;
	margin-left: 25%;
	color: red;
}
.submitBtn{
	font-size: 20px;
	font-family: serif; 
	float: left;
	margin-left: 25%;
	height:40px;
	padding-top: 10px;
	padding-bottom: 30px;
	border-radius: 5px;
	background-color: lightblue;
	width: 40%;
}
#logincontent{
	margin-top: 20px;
	margin-left: 25%;
	width:800px;
	min-height: 600px;
	text-align: center;	
}
#searchcontent{
	display: inline;
	margin-top: 20px;
	margin-left: 20px;
	width:90%;
	min-height: 600px;
}
#searchmap{
	margin-top: 20px;
	margin-right: 30px;
	float: right;

	height:390px;
	width:52%;
}
#parktable{
	border:1px solid;
	margin-left: 30px;
	width:43%;
	height:600px;
	text-align: left;
	overflow-y: scroll;
	background: #FFFFDF;
}

#parktable span{
	float: right;
	height:40px;
	margin-right: 10px;
}
#search_result{
	height:70px;
	border-bottom: 1px solid black;
}
#detailscontent{
	margin-top: 20px;
	margin-left: 20px;
	width:90%;
	min-height: 1000px;
	clear: both;

}
#resultmap{

	margin-left: 20px;
	height: 290px;
	width: 41%;

}
#resultmap img{
	height: 290px;
	width:100%;

}
#parkInfo{
	margin-top: 20px;
	margin-left: 20px;
	width:41%;
	min-height: 270px;
	text-align: center;	
	border:2px solid grey;
	background: #FFFFDF;
}
.Information{

	font-size:25px;
	font-weight: bold;
	margin-bottom: 20px;
}
#Info{
	margin-left: 30px;
	text-align: left;
	margin-top:20px;
	height:40px;

}
#Info span{
	float:right;
	margin-right: 40px;
}
#Reviews{
	float: right;
	margin-right: 20px;
	width:50%;
	display: block;

}
#Reviews h1{
	font-weight: bold;
	font-size:25px;
}
#Conments{
	background-color: lightblue;
	margin-top: 20px;
	margin-left: 5%;
	margin-right: 5%;
	height: 100px;
	width:90%;
	border:1px solid grey;
}
#nextpage{
	float:bottom;
	float:right;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-right: 20px;
	
}
#logintosumbit{
	margin-top: 100px;
	font-style: italic;
}

.button {
    font-size: 18px;
    border-radius: 12px;
    color: #F5F1E9;
	padding: 13px 20px;
	margin-top: 5px;
}

.button2 {background-color: #3366cc;} /* Blue */
.button3 {background-color: #f44336;} /* Red */ 
.button4 {background-color: #e7e7e7; color: black;} /* Gray */ 
.button5 {background-color: #555555;} /* Black */
.handinButton{background-color: black; float:right;}
.form1{background-color: #3366cc;}
.downloadButton{background-color: #3366cc;}


.custom-file-upload{
	background-color: black;
	margin-top:20%;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    height:34px;
}

.upload{
	float:left;
	/*border: 1px solid #2E3224*/ ;
	font-size: 18px;
    border-radius: 12px;
    color: #F5F1E9;
	padding: 0px 20px;
	
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    line-height: 32px;
}
.filename{
	margin-left: 17%;
	overflow-y: scroll;
	height:150px;
	width:200px;
	border: 1px solid #2E3224 ;
	border-radius: 8px;
	padding:10px;
	background-color: #f0f0f0;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
img{
	height:200px;
	width:200px;
}